include form-input
mixin date-input(options)
  - options       = options               || {}

  - multidate           = options.multidate           || null
  - forceParse          = options.forceParse          || null
  - clearBtn            = options.clearBtn            || null
  - todayHighlight      = options.todayHighlight      || null
  - autoclose           = options.autoclose           || null
  - multidateSeperator  = options.multidateSeperator  || null
  - format              = options.format              || 'dd/mm/yyyy'
  - language            = options.language            || null


  date-input(
      multidate=(multidate || null),
      force-parse=(forceParse || null),
      clear-btn=(clearBtn || null),
      today-highlight=(todayHighlight || null),
      autoclose=(autoclose || null),
      multidate-separator=(multidateSeperator || null),
      format=(format || null),
      language=(language || null)
    )
    +form-input(options)
