include form-input
mixin date-input(options)
  - options       = options               || {}

  - className     = options.class         || 'col-md-6'
  - name          = options.name          || 'control'
  - $$id = $$id || 0
  - id            = options.id            || (options.name+$$id || 'controlInput'+$$id)
  - $$id++
  - model         = options.model         || (options.id || '$parent.$parent.'+id)
  - label         = options.label         || 'Ετικέτα'
  - placeholder   = options.placeholder   || label
  - autocomplete  = options.autocomplete  || name
  - type          = options.type          || 'text'
  - popover       = options.popover       || null

  - multidate           = options.multidate           || null
  - forceParse          = options.forceParse          || null
  - todayHighlight      = options.todayHighlight      || null
  - autoclose           = options.autoclose           || null
  - multidateSeperator  = options.multidateSeperator  || null
  - format              = options.format              || 'dd/mm/yyyy'
  - language            = options.language            || null

  - isUnique        = options.isUnique    || null  // Async Validation. Value must be a URL. Validation is done on server and must return json. example { "isUnique": "true" }
  - isUniqueMapData = options.mapData     || null  // Maps json data to isUnique url. example isUnique="test.json?param:value" isUniqueMapData="{value=true}"

  - ngRequired  = options.ngRequired  || 'true' // Sets required attribute if set to true
  - ngRequired  = ngRequired=='false' ? null : 'true'

  - ngMinlength = options.ngMinlength || null   // Sets minlength validation error key if the value is shorter than minlength.
  - ngMaxlength = options.ngMaxlength || null   // Sets maxlength validation error key if the value is longer than maxlength.
  - ngPattern   = options.ngPattern   || null   // Sets pattern validation error key if the value does not match the RegExp pattern expression. Expected value is /regexp/ for inline patterns or regexp for patterns defined as scope expressions.
  - ngChange    = options.ngChange    || null   // Angular expression to be executed when input changes due to user interaction with the input element.
  - ngTrim      = options.ngTrim      || null   // If set to false Angular will not automatically trim the input. This parameter is ignored for input[type=password] controls, which will never trim the input.

  - ngEmailMessage     = options.ngEmailMessage       || 'Συμπληρώστε το πεδίο με μία σωστή διέυθυνση email'
  - ngNumberMessage    = options.ngNumberMessage       || 'Συμπληρώστε το πεδίο με αριθμούς'

  - isUniqueMessage     = options.isUniqueMessage     || 'Τα στοιχεία που συμπληρώσατε δεν είναι μοναδικά'
  - ngRequiredMessage   = options.ngRequiredMessage   || 'Παρακαλώ συμπληρώστε το πεδίο'
  - ngMinlengthMessage  = options.ngMinlengthMessage  || 'Παρακαλώ συμπληρώστε το πεδίο με πάραπανω από ' + ngMinlength +' χαρακτήρες'
  - ngMaxlengthMessage  = options.ngMaxlengthMessage  || 'Παρακαλώ συμπληρώστε το πεδίο μέχρι ' + ngMaxlength +' χαρακτήρες'
  - ngPatternMessage    = options.ngPatternMessage    || 'Παρακαλώ συμπληρώστε το πεδίο σωστά!'


  date-input(
      multidate=(multidate || null),
      force-parse=(forceParse || null),
      clear-btn=(clearButton || null),
      today-highlight=(todayHighlight || null),
      autoclose=(autoclose || null),
      multidate-separator=(multidateSeperator || null),
      format=(format || null),
      language=(language || null)
    )
    +form-input(options)
