mixin form-control(options)
  - options       = options               || {}

  - className     = options.class         || 'col-md-6'
  - name          = options.name          || 'control'
  - label         = options.label         || 'Ετικέτα'
  - placeholder   = options.placeholder   || label
  - autocomplete  = options.autocomplete  || name
  - type          = options.type          || 'text'
  - popover       = options.popover       || null

  - select2       = type=='select2-input' ? name+'.uiSelect2QueryData' : null

  - isUnique        = options.isUnique    || null  // Async Validation. Value must be a URL. Validation is done on server and must return json. example { "isUnique": "true" }
  - isUniqueMapData = options.mapData     || null  // Maps json data to isUnique url. example isUnique="test.json?param:value" isUniqueMapData="{value=true}"

  - ngRequired  = options.ngRequired  || 'true' // Sets required attribute if set to true
  - ngRequired  = ngRequired=='false' ? null : 'true'

  - ngMinlength = options.ngMinlength || null   // Sets minlength validation error key if the value is shorter than minlength.
  - ngMaxlength = options.ngMaxlength || null   // Sets maxlength validation error key if the value is longer than maxlength.
  - ngPattern   = options.ngPattern   || null   // Sets pattern validation error key if the value does not match the RegExp pattern expression. Expected value is /regexp/ for inline patterns or regexp for patterns defined as scope expressions.
  - ngChange    = options.ngChange    || null   // Angular expression to be executed when input changes due to user interaction with the input element.
  - ngTrim      = options.ngTrim      || null   // If set to false Angular will not automatically trim the input. This parameter is ignored for input[type=password] controls, which will never trim the input.

  - ngEmailMessage     = options.ngEmailMessage       || 'Συμπληρώστε το πεδίο με μία σωστή διέυθυνση email'

  - isUniqueMessage     = options.isUniqueMessage     || 'Τα στοιχεία που συμπληρώσατε δεν είναι μοναδικά'
  - ngRequiredMessage   = options.ngRequiredMessage   || 'Παρακαλώ συμπληρώστε το πεδίο'
  - ngMinlengthMessage  = options.ngMinlengthMessage  || 'Παρακαλώ συμπληρώστε το πεδίο με πάραπανω από ' + ngMinlength +' χαρακτήρες'
  - ngMaxlengthMessage  = options.ngMaxlengthMessage  || 'Παρακαλώ συμπληρώστε το πεδίο μέχρι ' + ngMaxlength +' χαρακτήρες'
  - ngPatternMessage    = options.ngPatternMessage    || 'Παρακαλώ συμπληρώστε το πεδίο σωστά!'

  form-control(class=className)
    label(for=name+'Input')=label
    input.form-control(
      id= name+'Input',
      name=name,
      autocomplete=autocomplete,
      type=(type=='select2'?null:type),
      placeholder=placeholder,
      ng-model='$parent.'+name,

      ui-select2=select2,
      data-ui-select2-query=  (type=='select2-input'?'http://www.weighttraining.com/api/v2/sm/search?types%5B%5D=:type&term=:value&limit=:limit':null),
      data-query-map-data=    (type=='select2-input'?"{type: 'exercise', limit: -1}":null),

      data-query-data-type=                   (type=='select2-input'?"jsonp":null),
      data-query-results-array-path=          (type=='select2-input'?"results.exercise":null),
      data-query-result-text=                 (type=='select2-input'?"term":null),
      data-query-result-id=                   (type=='select2-input'?"id":null),
      data-query-result-child-text=           (type=='select2-input'?"text":null),
      data-query-result-child-id=             (type=='select2-input'?"id":null),
      data-query-result-children-path=        (type=='select2-input'?"countries":null),
      data-query-result-is-parent-selectable= (type=='select2-input'?"false":null),

      data-allow-clear=                       (type=='select2-input'?"true":null),
      data-quiet-millis=                      (type=='select2-input'?"500":null),
      data-minimum-input-length=              (type=='select2-input'?"3":null),
      data-maximum-input-length=              (type=='select2-input'?"50":null),
      data-maximum-selection-size=            (type=='select2-input'?"3":null),

      data-query-init-message=                (type=='select2-input'?"Πληκτρολογήστε στο πεδίο για αναζήτηση":null),
      data-query-no-matches-message=          (type=='select2-input'?"Δεν βρέθηκαν αποτελέσματα":null),
      data-query-too-short-message=           (type=='select2-input'?"Το μήνυμα είναι πολύ μικρό":null),
      data-query-too-long-message=            (type=='select2-input'?"Το μήνυμα είναι πολύ μεγάλο":null),
      data-query-selection-too-big-message=   (type=='select2-input'?"Δεν μπορείτε να επιλέξετε άλλη λέξη":null),
      data-query-load-more-message=           (type=='select2-input'?"Περισσότερα":null),
      data-query-searching-message=           (type=='select2-input'?"Αναζήτηση...":null),

      is-unique=isUnique,
      is-unique-map-data=isUniqueMapData,

      ng-required=ngRequired,
      ng-minlength=ngMinlength,
      ng-maxlength=ngMaxlength,
      ng-pattern=ngPattern,
      ng-change=ngChange,
      ng-trim=ngTrim
    )

    valid-icon
    loader-icon

    if popover
      popover= popover
    if type=='email' && ngEmailMessage
      error-message.ng-email= ngEmailMessage

    if isUnique && isUniqueMessage
      error-message.is-uinique= isUniqueMessage
    if ngRequired && ngRequiredMessage
      error-message.ng-required= ngRequiredMessage
    if ngMinlength && ngMinlengthMessage
      error-message.ng-minlength= ngMinlengthMessage
    if ngMaxlength && ngMaxlengthMessage
      error-message.ng-maxlength= ngMaxlengthMessage
    if ngPattern && ngPatternMessage
      error-message.ng-pattern= ngPatternMessage